@model Test30.Models.Spoilage

@{
	ViewBag.Title = "Delete";
	if (HttpContext.Current.Session["usedID"] == null)
	{ Response.Redirect("~/Login/Index", false); }
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
	<h4>Spoilage</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.DateSpoiled)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DateSpoiled)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Reason)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Reason)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Quantity)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Quantity)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Item.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Item.Name)
		</dd>

		

	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-actions no-color">
			<input type="submit" value="Delete" class="btn btn-default" /> |
			@Html.ActionLink("Back to List", "Index")
		</div>
	}
</div>
